.chatContainer {
    max-width: 900px;
    padding: 10px;
    border: 1px solid #cfc8c8;
    border-radius: 3px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.messageContainer {
    height: 450px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
.message {
    padding: 10px;
    position: relative;
    background-color: #e0d496;
    border-radius: 4px;
    max-width: 80%;
    margin-bottom: 10px;
    font-size: 14px;
    display: inline-block;
    word-break: normal;
    overflow-wrap: break-word;
}
.own {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.own .message {
    background-color: rgb(135, 193, 212);
}
.sending_time {
    position: absolute;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    display: none;
    width: auto;
    white-space: nowrap;
    right: 0;
    transform: translateX(105%);
}
.own .message .sending_time {
    left: 0;
    right: auto;
    transform: translateX(-105%);
}
.message:hover .sending_time {
    display: inline-block;
}
.sender {
    font-size: 11px;
    padding-left: 5px;
}
.inputMessage {
    width: 80%;
    padding-right: 5px;
}
.inputMessage input {
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 8px;
    border: 1px solid #000;
}
.sendButton {
    width: 20%;
    border-radius: 3px;
}