.sidebar {
  height: 60vh;
  padding-top: 20px;
}
.project_name {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cell {
  border: 1px solid #ccc;
  padding-inline: 8px;
  height: 40px;
  max-width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}
.cell-header {
  background-color: #eee;
}
.table {
  margin-top: 40px;
  width: 1000px;
}
.resource-item {
  background-color: #edeccd;
}
.toolbar-item {
  cursor: pointer;
}
.project-info-cell {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
.nav {
  background-color: #f2f1ed;
}
.nav.active {
  background-color: #e4d06c;
}