.title {
    font-size: 2.5rem;
    font-weight: 600;
}
.project_duration {
    color: #a7a2a2;
    font-weight: 600;
}
.shape_container {
    height: 100px;
    max-width: 350px;
    border-radius: 7px;
}
.cell {
  border: 1px solid #ccc;
  padding-inline: 8px;
  height: 40px;
  max-width: 250px;
  overflow: visible;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
}
.cell_header {
  background-color: #eee;
}