spring.application.name=server

spring.datasource.url=jdbc:mysql://mysql:3307/project_management_db
spring.datasource.username=root
spring.datasource.password=devtrungk3
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=false

jwt.secret=your_secret_key
cors.allowed-origins=http://localhost:5173

spring.data.redis.host=localhost
spring.data.redis.port=6379
spring.cache.type=redis