.header {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #005F97;
    border-radius: 5px;
    padding-inline: 10px;
}
.btn {
    border: 1px solid #fff;
    color: #fff;
    transition: .3s;
}
.btn:hover {
    background-color: #fff;
    color: #005F97;
}